.searching{
    width: 70vw;
}
ant-select-selector{
    width: 20vw;
}
.select-input{
    width: 20vw;
    padding-left: 2em;
}
.main{
    margin: 2em;
}
.content{
    border: 1px solid lightsteelblue;
    border-radius: 5px;
}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.csv{
    width: 150px;
    border-radius: 5px;
    color: blue;
    border: 1px solid black;
    font-size: 12px;
    padding: 0 1em;
}
.big{
    width: 110px;
}